@model Take.UI.MVC.ToolsDashboard.Models.User
@{
    ViewBag.ShowHeader = false;
    ViewBag.ShowFooter = false;
}
<div class="auth-container body-container">
    <div class="text-center">
        <div class="shadow-box">
            <form asp-action="Index" method="post" asp-antiforgery="true">
                @* ICONE ATUAL APENAS PROVISÓRIO *@
                <img src="~/images/Take.png" class="img-responsive blocktext" width="200" height="70" /> 
                <p></p>
                <div class="form-group">
                    <input asp-for="login" type="text" placeholder="Usuário" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="password" type="password" placeholder="Senha" class="form-control" />
                </div>
                <div>
                    <button type="submit" class="btn  btn-outline-dark">Log in</button>
                </div>
            </form>
            <form asp-action="GitHubLogin" method="post" asp-antiforgery="true">
                <button style="margin-top: 15px;" type="submit" asp-action="GitHubLogin" asp-controller="Auth" class="btn btn-outline-primary">Log In with GitHub</button>
            </form>
        </div>
    </div>
</div>
