@model Take.UI.MVC.ToolsDashboard.Models.Tool
@{
    ViewData["Title"] = $"Detalhes da Frramenta #{Model.name}";
}

<form asp-action="Create" method="post" asp-antiforgery="true">
    <div class="form-group">
        <input asp-for="name" type="text" placeholder="nome" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="description" type="text" placeholder="descrição" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="link" type="text" placeholder="Link" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="baseUrl" type="text" placeholder="Url Base" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="isActive" name="isActiveRadio" type="radio" value="true" class="form-control" /> Ativo
        <input asp-for="isActive" name="isActiveRadio" type="radio" value="false" class="form-control" /> Inativo
    </div>
    <div>
        <button type="submit" class="btn  btn-outline-dark">Salvar</button>
    </div>
</form>
<br />

<div>
    <a asp-action="Index" asp-controller="Tool" role="button" class="btn btn-outline-dark"><span class="fas fa-arrow-left"></span> Voltar</a>
</div>

@section Scripts{
    <script type="text/javascript">
        //Setando menu como ativo
        SetActiveLink("#link-menu-tool");

    </script>
}


