
@{
    ViewData["Title"] = "Home Page";
}


<div>
    Bem vindo!
</div>




@section Scripts{
    <script type="text/javascript">
        //Setando menu como ativo
        SetActiveLink("#link-menu-home");

    </script>
}
