/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    font-size: 0.9rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.shadow-box {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 1px 11px rgba(0,0,0,.3);
}

.blocktext {
    margin: auto
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.glyphicon {
    margin-right: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0px 0px;
}

.navbar-purple {
    background-color: rgba(166,74,201,.9);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    color: white;
    padding: 4px 3px
}

    .navbar-purple a {
        color: white;
        cursor: pointer
    }

    .navbar-purple .dropdown-menu a {
        color: #484848;
        cursor: pointer
    }

.link-hover:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.navbar-sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-size: 13px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: #151b26;
    color: white;
    width: 200px;
}

    .navbar-sidebar span {
        padding-left: 8px;
    }

    .navbar-sidebar p {
        color: white;
        padding: 8px 8px 8px 32px;
        display: block;
        transition: 0.3s;
        display: block;
    }

    .navbar-sidebar a, .dropdown-btn {
        color: white;
        cursor: pointer;
        padding: 8px 8px 8px 32px;
        display: block;
        transition: 0.5s;
        display: block;
    }

        .navbar-sidebar a:hover, .dropdown-btn:hover, .active {
            background-color: #2c313b;
            text-decoration: none;
        }


    .navbar-sidebar .dropdown-container a {
        cursor: pointer
    }

        .navbar-sidebar .dropdown-container a:hover, .navbar-sidebar .dropdown-container a.active {
            background-color: #5b5f67;
            text-decoration: none;
        }

    .navbar-sidebar form {
        position: absolute;
        bottom: 0px;
        color: white;
        cursor: pointer;
        display: block;
        transition: 0.5s;
        display: block;
        width: 100%;
    }

        .navbar-sidebar form a {
            position: absolute;
            bottom: 0px;
            color: white;
            cursor: pointer;
            display: block;
            transition: 0.5s;
            display: block;
            width: 100%;
        }

        .navbar-sidebar span{
            padding-left: 0px;
        }

            .navbar-sidebar form a:hover {
                cursor: pointer;
                background-color: #2c313b;
            }

    /*Position and style the close button (top right corner) */
    .navbar-sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.sidebar-user-name {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 25px;
}

.title-header {
    padding-top: 15px;
    padding-bottom: 25px;
}

    .title-header h4 {
        margin-bottom: 0px;
        font-size: 21px;
    }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .navbar-sidebar {
        padding-top: 15px;
    }

        .navbar-sidebar a {
            font-size: 18px;
        }
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #2c313b;
}

    .dropdown-container a {
        padding-left: 41px;
    }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 205px;
}

    .container .auth-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto !important;
    }

/*################################## NOTIFICATION ##################################*/
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        left: -100px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        left: -100px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100px;
        opacity: 0;
    }
}

.notification-toast {
    position: fixed;
    bottom: 10px;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    z-index: 1072;
}

.notification-toast-hide {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}


.notification-close {
    float: right;
    color: #a3a7ac;
    padding-left: 10px;
    padding-top: 2px;
    cursor: pointer;
    transition: all .2s linear;
}

    .notification-close:hover {
        color: #F4BF18;
        text-decoration: none;
    }

.notification-content {
    background-color: white;
    padding: 10px;
    border-top: 10px solid #F4BF18;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    min-width: 250px;
    z-index: 1;
}

.notification-content-error {
    border-top-color: #ed4858;
}

    .notification-content-error .notification-close:hover {
        color: #ed4858;
    }

.notification-content-success {
    border-top-color: #9FCC3B;
}

    .notification-content-success .notification-close:hover {
        color: #9FCC3B;
    }

.notification-text {
    font-size: 16px;
    color: #676d76;
}


/*################################## END NOTIFICATION ##################################*/


.link-nav-form {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #9d9d9d;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
}

    .link-nav-form span {
        margin-right: 5px;
    }

.field-validation-error span {
    color: #f44336;
}

.input-validation-error {
    border-color: #f44336;
}
